<footer>
    <div class="footer">
        <div class="Support">
            <h2 class="footer-heading">Support</h2>
            <p>Help centre</p>
            <p>Cancellation options</p>
            <p>Report neighbourhood concern</p>
        </div>
        <div class="Hosting">
            <h2 class="footer-heading">Hosting</h2>
            <p>Hosting resources</p>
            <p>Community forum</p>
            <p>Hosting responsibly</p>
        </div>
        <div class="Wanderlust">
            <h2 class="footer-heading">Wanderlust</h2>
            <p>New features</p>
            <p>Careers</p>
            <p>Investors</p>
        </div>
    </div>
    <hr>
    <div class="privacy">
        <div class="privacy-links">
            <p>© Wanderlust</p>
            <p class="links">Privacy</p>
            <p class="links">Terms</p>
            <p class="links">Company details</p>
        </div>
        <div class="social">
            <div class="social-links"><i class="fa-brands fa-facebook"></i></div>
            <div class="social-links"><i class="fa-brands fa-twitter"></i></div>
            <div class="social-links"><i class="fa-brands fa-instagram"></i></div>
        </div>
    </div>
</footer>