<style>
  .search {
    width: 70%;
    background-color: white;
    padding: 0 10%;
  }
  .search-bar {
    width: 70%;
    border-radius: 100px;
    border: 1px solid #d7d7d7;
    background-color: #f7f7f7;
    padding: 5px 20px;
  }

  .search-btn {
    border: 0;
    border-radius: 100px;
    padding: 5px 20px;
    background-color: #ff0000;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .search {
      width: 100%;
      padding: 10px 0;
    }

    .footer div {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .explore {
      display: none !important;
    }
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="background-color: white;">
          <a class="nav-link explore" href="/listings">Explore</a>
        </div>
        <div class="search">
          <form>
            <input class="search-bar" type="search" name="search" id="search" placeholder="Search Destinations">
            <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div class="navbar-nav ms-auto" style="background-color: white;">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser) { %>
            <a class="nav-link active" href="/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>