<% layout("/layouts/boilerplate") %>


<div class="row" style="text-align: center; margin-top: 100px;">
    <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
      <div style="margin-top: 20px;">
        <a href="http://localhost:3000/listings" style="text-decoration: none; color: white; background-color: black; padding: 12px; border-radius: 5px;">Back to Home Page</a>
      </div>
</div>