body {
    background-color: whitesmoke;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 700 !important;
}

.listing-link {
    text-decoration: none;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 50vh !important;
}

.del-btn {
    border: none !important;
    margin-left: 10px   !important;
}


.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    }

    @keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.footer {
    display: flex;
    padding: 3% 7%;
    background-color: #f7f7f7;
    margin-top: 50px;
    flex-wrap: wrap;
}

.footer div {
    width: 33%;
    padding: 30px;
}

.footer-heading {
    font-size: 15px;
    font-weight: 600;
}

.footer div p {
    font-size: 13px;
}

.footer div p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.privacy {
    display: flex;
    padding: 0% 7%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.privacy-links {
    display: flex;
}

.privacy-links p {
    font-size: 15px;
    padding: 8px 10px;
}

.social {
    display: flex;
}

.social-links {
    padding: 8px 10px;
    cursor: pointer;
}

.links:hover {
    cursor: pointer;
    text-decoration: underline;
}